.banner {
  padding: 0.6em;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1010;
}

.menuOpen {
  font-size: 2.6em;
  &:hover { cursor: pointer };
}

.page-header {
  border: 0;
  margin: auto;
  overflow: auto;
  padding: 0;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 500px;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  h1 { font-size: 2.6em; color: #FFFFFF; margin: 0; padding: 0;letter-spacing: -2px }
  span { font-size: 1.6em; color: #FFFFFF }
}

//arrow bounced
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    .transform(translateY(0));
  }
  40% {
    .transform(translateY(-30px));
  }
  60% {
    .transform(translateY(-15px));
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    .transform(translateY(0));
  }
  40% {
    .transform(translateY(-30px));
  }
  60% {
    .transform(translateY(-15px));
  }
}
@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    .transform(translateY(0));
  }
  40% {
    .transform(translateY(-30px));
  }
  60% {
    .transform(translateY(-15px));
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    .transform(translateY(0));
  }
  40% {
    .transform(translateY(-30px));
  }
  60% {
    .transform(translateY(-15px));
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -21px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAZCAQAAADtJHTTAAABYUlEQVRIx62VPWvCUBRArwgOQnGyk6N0c62Ubs5txy7+gOLoVH9AoUu7+guk0NFRqFA6OWcrjnYoTiIoCOLpkJsP05fkJTFvSe679zzex3kRHtky4Qw5QavxwZa+sAFgSqUwssIUgLXwhfuMKBVClnlT0kRosNCP50LQoVLm1AXhgqUG+rmRAyUsaSJuqK0re6CbC9nlAMCKNuJBhTv2AOzoZEbesDuuDboe/NFamZCGWZrW5ZemNbLp78cgiMbuoBWyzlwrXsLx6Fkba9KMqoU/jvmMRxOrfGriOMUxzx+DjRnGP2olRprlUIv2mgpsHHv1V//8f6+5pMVKi3rp/thChSs9fXvuY/3ZuP7YQ+Md6/j+3MbVJu1vTycZdqzNOv2WSD6JT4pd0Ij3Jys0cOybesifYXJV+n0eODbTt3fKxaBC1Ydh+zezuzYcH2nwJx80cMzbsJNAhWt+WHBpl/0HlZjgT1RI/acAAAAASUVORK5CYII=);
  width: 42px;
  height: 25px;
  color: #FFFFFF;
  background-size: contain;
}

.bounce {
  .animation(bounce 2s infinite);
}
